#!/bin/sh

export HISTTIMEFORMAT="%d/%m/%y %T "
# Change npm default directory
export NPM_CONFIG_PREFIX=~/.npm-global
# Export path after your path to prevent overwritten
export JAVA_HOME="$HOME/GraalVM"
export PATH="$HOME/.local/bin:$HOME/.scripts/:$HOME/.scripts/dmenu-scripts/:$HOME/.scripts/dwm-scripts/:$JAVA_HOME/bin:$HOME/.npm-global/bin/:$PATH"
# Sync multiple bash history in runtime
#export PROMPT_COMMAND='history -a'
export EDITOR="vim"
export TERMINAL="urxvt"
export BROWSER="brave"
# Fix color issues
export TERM="xterm-256color"
#export BROWSER="firefox"
export GREP_OPTIONS='--color=auto'
export FZF_DEFAULT_OPTS='--height 40% --layout=reverse --border'
export FZF_DEFAULT_COMMAND="find -L"
#export FZF_DEFAULT_COMMAND="rg --files"
export GDK_DPI_SCALE=1.15
# For UnityEditor
export FrameworkPathOverride=/etc/mono/4.5

