#!/bin/sh
# Fix java gui size problems
export _JAVA_AWT_WM_NONREPARENTING=1
export HISTTIMEFORMAT="%d/%m/%y %T "
# Change npm default directory
#export NPM_CONFIG_PREFIX=~/.npm-global
# Export path after your path to prevent overwritten
# export JAVA_HOME="$HOME/GraalVM"
export JAVA_HOME="/usr/lib/jvm/java-17"
export PATH="$HOME/.local/bin:$HOME/.scripts/:$HOME/.scripts/dmenu-scripts/:$HOME/.scripts/dwm-scripts/:$JAVA_HOME/bin:$HOME/go/bin:/usr/local/go/bin:$HOME/.npm-global/bin/:$HOME/Development/flutter/bin:$PATH"
export NODE_OPTIONS="--max-old-space-size=8192"
#export LD_LIBRARY_PATH="/opt/oracle/instantclient_21_6/:$LD_LIBRARY_PATH"
# Sync multiple bash history in runtime
#export PROMPT_COMMAND='history -a'
export EDITOR="nvim"
export TERMINAL="alacritty"
export BROWSER="brave"
export CM_LAUNCHER="rofi"
#export sv="185.225.39.250"
#export DM_HP_ITEMS="chromium,brave,gimp,kdenlive,qbittorrent,qutebrowser"
# Fix color issues
export TERM="xterm-256color"
export GREP_OPTIONS='--color=auto'
export FZF_DEFAULT_OPTS='--height 40% --layout=reverse --border'
#export FZF_DEFAULT_COMMAND="find -L"
export FZF_DEFAULT_COMMAND="rg --hidden --glob '!.git' --files"
export GDK_DPI_SCALE=1.15
# For UnityEditor
export FrameworkPathOverride=/etc/mono/4.5

